{% extends 'base_user.html' %}

{% block title %}
    Home
{% endblock %}

{% block user_image %}
    {{ user_image }}
{% endblock %}

{% block content %}

    <div class="home-header">
        <h4 class="float-left"><span class="badge badge-secondary">Usuário: {{ username }}</span></h4>
{#        <a class="float-right" href="{% url 'logout' %}" class="badge badge-primary">Logout</a>#}
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="wrapper-container">
{#                <a href="{% url 'new_store' %}" class="badge badge-primary">Criar nova loja</a>#}
            </div>
        </div>
        <div class="col-md-6">
          <table>
              <thead>
                <tr>Suas Lojas</tr>
              </thead>
              <tbody>
              {% for store in all_store %}
                  <td>
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="{{ store.avatar.url }}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ store.name }}</h5>
                        <p class="card-text">{{ store.description }}</p>
                        <a href="{% url 'dashboard' id=store.id %}" class="btn btn-primary">Entrar</a>
                      </div>
                    </div>
                  </td>
              {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock %}