{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script defer src="{% static 'fontawesome/svg-with-js/js/fontawesome-all.js' %}"></script>
    <script src="{% static 'js/django-dynamic-formset/src/jquery.formset.js' %}"></script>
    <script src="{% static 'js/masonryjs/masonry.min.js' %}"></script>
    <script src="{% static 'js/scrollreveal-master/dist/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/javascript.js' %}"></script>

</head>
<body>
    <div class="wrapper">
        <div class="base-header">
            <div class="container">
              <div class="row w-100">
                <div class="col-md-6">
                    <ul class="header-list">
                        <li>
                            <a href="{% url 'dashboard' %}">
                                <i class="fas fa-3x fa-tachometer-alt"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'orders' %}">
                                <i class="fas fa-3x fa-box-open"></i>
                                <p>Pedidos</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'products' %}">
                                <i class="fas fa-3x fa-tag"></i>
                                <p>Produtos</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-3x fa-dollar-sign"></i>
                                <p>Descontos</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'settings' %}">
                                <i class="fas fa-3x fa-cog"></i>
                                <p>Configurações</p>
                            </a>
                        </li>
                    </ul>
                </div>
              </div>
            </div>

        </div>
        <div class="base-body">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>