{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/frontend.css' %}">
    {% block head %}{% endblock %}
    
    <style>{% block style %}{% endblock style %}</style>
        

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script defer src="{% static 'fontawesome/svg-with-js/js/fontawesome-all.js' %}"></script>
    <script src="{% static 'js/scrollreveal-master/dist/scrollreveal.js' %}"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <!-- <script src="{% static 'js/javascript.js' %}"> -->

    {% block script %}{% endblock %}

    <title> {% block title %}{% endblock %}</title>
</head>
<header>
    <div class="header">
        <a id="header-link" href="{% url 'home' %}"><span>{{ store.name }}</span></a>
        <ul>
            <li><a href="{% url 'store_products' %}">Produtos</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="{% url 'store_cart' %}">Carrinho</a></li>
        </ul>
    </div>
</header>
<body>
    {% block content %}{% endblock %}
</body>
</html>