html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;

    background-color: #e5e5e5;
}

.base-header {
    width: 100%;
    height: 10vh;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.base-header div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;

    margin: 0px 2%;
}

.base-header div a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0px 2%;

    text-decoration: none;
    color: black;

    transition: color 0.2s;
}

.base-header div a:focus {
    color: #474747;
}

.base-header div a:hover {
    color: #474747;
}

.base-header div a p {
    text-align: center;
    margin: 0px;
}

.base-body {
    width: 100%;

    padding: 8% 10%;
}

.header-list {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;

    text-align: center;
    list-style: inside;

    width: 100%;
}

.header-list li {
    display: inline-block;
    padding: 0px 2%;
}

.products-header {
    width: 100%;
    display: flex;
}

.products-header h3 {
 flex-grow: 1;
}

.products-header a {
 flex-grow: 1;
    text-align: right;
}

.order-product-data {
    width: 100%;
}

.base-background-card {
    width: 100%;
    background-color: white;
    margin-bottom: 50px;
}

.settings-header {
    width: 75%;
    /*background-color: black;*/
    height: 30%;
}

.addCssClass {
    
}