@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand-Light.ttf");
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 20px 1px #d8d8d8;
    padding: 1% 0%;
}

.header a {
    text-decoration: none;
    color: #212529;
    /* margin-left: 15%; */
}

#header-link {
    margin-left: 15%;
}

.header a:hover {
    color: #212529;
}

.header a span {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 2rem;
    /* margin-left: 15%; */
}

.header ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    font-family: Quicksand;
    font-size: 1.1rem;
    width: 50%;
    text-align: right;
    margin-right: 17%;
}

.header ul li {
    display: inline;
    margin-right: 5%;
}

.header ul li a {
    text-decoration: none;
    color: #212529;
}

.body {
    font-family: Quicksand;
    letter-spacing: 1px;
}

.body-wrapper {
    width: 100%;
    padding: 5% 10%;
}

.body h3 {
    font-size: 2rem;
    margin-bottom: 5%;
}

.product-card-img {
    margin-bottom: 3%;
}

.product-card-name {
    font-size: 1.4rem;
    margin-bottom: 0px;
}

.product-card-price {
    font-size: 1.1rem;
}

/* .product-image {
    width: 100%;
} */

/* .product-data {
    font-family: Quicksand;
}

.product-data h3 {
    margin-bottom: 0px;
}

.product-data span {
    font-size: 0.8rem;
}

.product-data p {
    position: fixed;
    font-size: 2rem;
    margin-top: 10%;
    position: relative;
    bottom: 0;
} */

/* .product-size-list {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 10%;
}

.product-size-list li {
    display: inline;
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.product-size-list li a:focus{
    background-color: black;
    color: white;
}

.product-size-list li:hover a:hover {
    background-color: black;
    color: white;
}

.product-size-list li a {
    padding: 5px;
    text-decoration: none;
    color: black;
} */

.product-data button {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* .product-description h3 {
    margin-bottom: 15px;
}

.product-description p {
    font-size: 1.3rem;
} */

.product-data label {
    margin-top: 8%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.product-form {
    display: flex;
    flex-direction: row;
}

.product-leftside {
    width: 50%;
}

.product-leftside img {
    width: 100%;
}

.product-rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.product-rightside h3 {
    margin-left: 8%;
    font-size: 2.8rem;
    letter-spacing: 2px;
}

.product-rightside button {
    width: 100%;
    bottom: 0px;
}

.product-options-list {
    list-style-type: none;
}

.product-options-list li {
    display: inline;
}

.product-options-list a {
    text-decoration: none;
    color: black;

    padding: 5px;

    font-size: 1.3rem;
}

.product-options-list a:hover {
    color: white;
    background-color: black;
}

.product-options-list a:focus {
    color: white;
    background-color: black;
}