

@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Light.ttf);
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-container {
    width: 20%;
    padding: 2%;

    background-color: #eaeaea;
    border-radius: 10px;
    box-shadow: 0px 10px 13px 0px #4e555b;
}

.login-header {
    text-align: center;

    font-family: Quicksand;
    font-size: 2.6rem;
}

.login-form {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form form {
    width: 100%;
}

.login-form form button {
    width: 100%;
}