{% extends 'base_frontend.html' %}
{% load static %}
{% load hosts %}

{% block title %}
    {{ store.name }}
{% endblock %}

{% block content %}
    <div class="body">
        <div class="body-wrapper">
            <h3>Produtos em Destaque</h3>
                <div class="container-fluid mx-0 px-0 text-center">
{#                  <div class="row">#}
                      {% comment %}{% for product in products %}
                        <div class="col-md-4 product-card products-reveal">
                            <img style="width: 100%;" src="{{ product.avatar.url }}">
                            <p class="product-card-name">{{ product.name }}</p>
                            <p class="product-card-price">R${{ product.price }}</p>
                        </div>
                      {% endfor %}{% endcomment %}
                      <div class="grid">
                          <div class="grid-sizer col-md-6"></div>
                          {% for product in products %}
                              {% if product.featured == True %}
                                  <div class="grid-item col-md-6">
                                      <div class="grid-item-content products-reveal">
                                        <a href="{% url 'store_product' product_id=product.id %}"><img class="product-card-img" style="width: 100%;" src="{{ product.avatar.url }}"></a>
                                        <p class="product-card-name">{{ product.name }}</p>
                                        <p class="product-card-price">R${{ product.price }}</p>
                                      </div>
                                  </div>
                              {% endif %}
                          {% endfor %}
                      </div>
{#                  </div>#}
                </div>
        </div>
    </div>
    <script src="{% static 'js/javascript.js' %}"></script>
{% endblock %}