{% extends 'base_frontend.html' %}
{% load static %}

{% block title %}
    {{ store.name }}
{% endblock %}

{% block content %}
    <div class="body">
        <div class="body-wrapper">
            <div class="container-fluid mx-0 px-0 text-center">
              <div class="grid">
                  <div class="grid-sizer col-md-6"></div>
                  {% for product in products %}
                      <div class="grid-item col-md-6">
                          <div class="grid-item-content products-reveal">
                            <a href="{% url 'store_product' product_id=product.id %}"><img class="product-card-img" style="width: 100%;" src="{{ product.avatar.url }}"></a>
                            <p class="product-card-name">{{ product.name }}</p>
                            <p class="product-card-price">R${{ product.price }}</p>
                          </div>
                      </div>
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/javascript.js' %}"></script>
{% endblock %}