{% extends 'base_frontend.html' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="body">
        <div class="body-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="product-form" method="POST" action="{% url 'store_add_cart' product_id=product.id %}">
                            {% csrf_token %}
                            <div class="product-leftside">
                                    <img src="{{ product.avatar.url }}">
                            </div>
                            <div class="product-rightside">
                                <h3>{{ product.name }}</h3>
                                {% if product_options %}
                                    <div class="form-group">
                                        <ul class="product-options-list">
                                            {% for item in product_options %}
                                                <li><a href="#" onclick="selectListItem(this)">{{ item.type }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <!-- This input get the list selection -->
                                <input id="listSelection" name="listItem" style="display: none;">
                                <button type="submit" class="btn btn-primary">Enviar para Carrinho</button>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <script>
        function selectListItem(content) {
            $('#listSelection').attr('value', content.innerHTML);
        }
    </script>
{% endblock %}

