{% extends 'base_frontend.html' %}
{% load filters %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'store_create_order' %}">
    {% csrf_token %}
    <table class="table table-md">
      <thead>
        <tr>
          <th>Imagem</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Opção</th>
          <th>Preço</th>
          <th>Remover</th>
        </tr>
      </thead>
        <tbody>
        {% for item in list %}
          <tr>
            <td><img style="width: 10%" src="{{ item.product.avatar.url }}"></td>
            <td>{{ item.product.name }}<input name="product_id" type="hidden" value="{{item.product.id}}"></td>
            <td><input name="product_quantity" type="number" value="{{ item.quantity }}"></td>
            <td>{{ item.product_option }}<input name="product_option" type="hidden" value="{{ item.product_option }}"></td>
            {% if item.product_option %}
              <td>{{ item.product_option.value|multiply:item.quantity }}<input name="product_final_price" type="hidden" value="{{ item.product_option.value|multiply:item.quantity }}"></td>
            {% else %}
              <td>{{ item.product.price|multiply:item.quantity }}<input name="product_final_price" type="hidden" value="{{ item.product.price|multiply:item.quantity }}"></td>
            {% endif %}
            <td><a href="{% url 'store_remove_cart' product_id=item.product.id %}">X</a></td>
            <td style="display: none;">{% if item.product_option %}{{ item.product_option.value }}{% else %}{{ item.product.price }}{% endif %}</td>
          </tr>
        {% endfor %}
        <tr>
          <td id="td_valor_total">Valor Total</td>
          <td id="valor_total"></td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Finalizar Compra</button>
  </form>
  <script>
  function makeMagic() {
    $('#valor_total').text(function(){
      var x = 0;
      var tbody = $('tbody');
      tbody.children().each(function(index){
        if(index <= tbody.length+1 && !isNaN(parseInt($(this).children().eq(4).text())) /*&& parseInt($(this).children().eq(4).text())*/) {
          x += parseInt($(this).children().eq(4).text());
        }
        console.log(parseInt($(this).children().eq(4).text()));
        console.log('x: ' + x)
      });
      return x;
    });
  }

  makeMagic();

  $('input').change(function(){
    var newValue = $(this).val();
    var productValue = $(this).parent().parent().children().eq(6).text();
    $(this).parent().parent().children().eq(4).html(newValue * productValue);

    makeMagic();
  });
  </script>
{% endblock %}