{% extends 'base_frontend.html' %}
{% load widget_tweaks %}

{% block title %}
    Dados de Envio
{% endblock title %}

{% block style %}
    .form-order-data {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 75px;
    }
    .form-order-data h3 {
        margin-bottom: 50px;
    }
{% endblock style %}
    

{% block content %}
    <form class="form-order-data" method="POST" action="{% url 'store_get_order_info' order_id=order_id %}">
        {% csrf_token %}
        <h3>Informações para Envio</h3>
        <div class="form-group">
            {% render_field form.first_name.label_tag %}
            {% render_field form.first_name class+='form-control' %}
        </div>
        <div class="form-group">
            {% render_field form.last_name.label_tag %}
            {% render_field form.last_name class+='form-control' %}
        </div>
        <div class="form-group">
            {% render_field form.email.label_tag %}
            {% render_field form.email class+='form-control' %}
        </div>
        <div class="form-group">
            {% render_field form.address.label_tag %}
            {% render_field form.address class+='form-control' %}
        </div>
        <div class="form-group">
            {% render_field form.observation_note.label_tag %}
            {% render_field form.observation_note class+='form-control' rows='5' %}
        </div>
        <button type="submit" class="btn btn-primary">Finalizar Compra</button>
    </form>
{% endblock content %}
    
    