{% extends 'base_frontend.html' %}


{% block title %}
    Pedido Realizado
{% endblock title %}


{% block content %}
    <div>
        Pedido realizado com sucesso
    </div>

    <script>
        setTimeout(function() {
            window.location = "{% url 'home' %}";
        }, 2000);
    </script>
{% endblock content %}
    
    