{% extends 'base.html' %}

{% block title %}
    Editar Pedido
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'edit_order' id=store.id order_id=order.id %}">
        {% csrf_token %}
        {{ form }}
    <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock %}