{% extends 'base.html' %}

{% block title %}
    Editar
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'edit_intermediate' intermediate_id=intermediate.id %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
<script>
    $( document ).ready(function() {
        $('#id_product').change(() => {
            $.ajax({
                url: '/load_options',
                data: {
                    'product': $('#id_product').val()
                },
                success: function (data) {
                    $("#id_product_option").html(data);
                }
            });
        });
    });

</script>
{% endblock %}