{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#  Bootstrap  #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <title>Login</title>
</head>
<body>

    <div class="wrapper">
        <div class="mid-container">
            <h3 class="login-header">Login</h3>
            <div class="login-form">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                  <div class="form-group">
                      {% render_field form.username class+='form-control' type='email' name='username' id='username' placeholder='Email' %}
                  </div>
                  <div class="form-group">
                      {% render_field form.password class+='form-control' type='password' name='password' id='password' placeholder='Senha'%}
                  </div>
                  <button type="submit" class="btn btn-primary">Entrar</button>
                    <div class="login-doubt">
                        <a href="{% url 'register' %}">Sem cadastro?</a>
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</html>