{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Adicionar Produto
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'new_product' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group">
            {% render_field form.avatar.label_tag %}
            {% render_field form.avatar class+="form-control" %}
        </div>
        <div class="form-group">
            {% render_field form.name.label_tag %}
            {% render_field form.name class+="form-control" %}
        </div>
         <div class="form-group">
             {% render_field form.description.label_tag %}
            {% render_field form.description class+="form-control" %}
        </div>
         <div class="form-group">
             {% render_field form.status.label_tag %}
            {% render_field form.status class+="form-control" %}
        </div>
         <div class="form-group">
             {% render_field form.price.label_tag %}
            {% render_field form.price class+="form-control" %}
        </div>
        <button type="submit" class="btn btn-primary">Criar</button>
    </form>
{% endblock %}