{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}New Store{% endblock %}

{% block content %}
    <form method="post" action="{% url 'new_store' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {% render_field form.avatar class+="form-control" %}
        </div>
        <div class="form-group">
            {% render_field form.name class+="form-control" %}
        </div>
        <div class="form-group">
            {% render_field form.description class+="form-control" %}
        </div>
        <button type="submit" class="btn btn-primary">Criar loja</button>
    </form>
{% endblock %}