{% extends 'base.html' %}

{% block title %}
    Produtos
{% endblock %}

{% block content %}
    <div class="products-header">
        <h3>Orders</h3>
    </div>
    <div class="container">
          <div class="row">
              
              {% for order in orders %}
                  {% if order.active and not order.delivered %}
                    <div class="col-md-3 my-5">
                        <div class="card" style="width: 18rem;">
                        <a href="{% url 'order' order_id=order.id %}">
                            {% with order.product_info.all|first as first_product %}
                                <img class="card-img-top" src="{{ first_product.avatar.url }}" alt="Card image cap">
                            {% endwith %}
                            <div class="card-body">
                                {% for order_info in order.order_info_set.all %}
                                 <h5 class="card-title">{{ order_info.get_full_name }}</h5>
                                {% endfor %}
                                <p class="card-text">R$ {{ order.full_price }}</p>
                                <p class="card-text">{{ order.order_date|date:"d b Y" }}</p>
                            </div>
                        </a>
                        </div>
                    </div>
                  {% endif %}
              {% endfor %}
                  
              <!-- {% for item in data %}
                {% for intermediate in item %}
                    <div class="col-md-3 my-5">
                        <div class="card" style="width: 18rem;">
                        <a href="{% url 'order' order_id=intermediate.order.id %}">
                            <img class="card-img-top" src="{{ intermediate.product.avatar.url }}" alt="Card image cap">
                            <div class="card-body">
                                {% for order_info in intermediate.order.order_info_set.all %}
                                 <h5 class="card-title">{{ order_info.get_full_name }}</h5>
                                {% endfor %}
                                <p class="card-text">R$ {{ intermediate.order.full_price }}</p>
                                <p class="card-text">{{ intermediate.order.order_date|date:"d b Y" }}</p>
                            </div>
                        </a>
                        </div>
                    </div>
                {% endfor %}
              {% endfor %} -->
          </div>
    </div>
{% endblock %}