{% extends 'base.html' %}

{% block title %}
    Pedido
{% endblock %}

{% block content %}
        <div class="order-product-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="base-background-card">
                            {{ order.order_number }}
                            <br>
                            {{ order_info.owner.get_full_name }}
                            <br>
                            {{ order_info.email }}
                            <br>
                            Total: {{ order.full_price }}
                            {% comment %} <a class="btn btn-success" href="{% url 'edit_order' id=store.id order_id=order.id %}">Editar informações</a> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-md-9">
                        {% for order_data in intermediate_model %}
                            <div class="base-background-card">
                                <h3>{{ order_data.product.name }}</h3>
                                <a href="{% url 'edit_intermediate' intermediate_id=order_data.id %}"><i class="far fa-edit"></i></a>
                                {% if order_data.product.descrition %}
                                    <p>{{ order_data.product.description }}</p>
                                {% endif %}
                                <p>Quantidade: {{ order_data.product_quantity }}</p>
                                {% if order_data.product.has_option %}
                                    <p>Opção: {{ order_data.product_option }}</p>
                                {% endif %}
                                <img style="width: 30%;" src="{{ order_data.product.avatar.url }}">
                                <p>R$ {{ order_data.product.price }}</p>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                          Finalizar Pedido
                        </button>
                    </div>
              </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Finalizar Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Deseja confirmar envio de pedido?
              </div>
              <div class="modal-footer">
                    <a class="btn btn-success" href="{% url 'finish_order' order_id=order.id %}">Finalizar Pedido</a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}