{% extends 'base.html' %}

{% block title %}
    Produtos
{% endblock %}

{% block content %}
    <div class="products-header">
        <h3>Products</h3>
        <a href="{% url 'new_product' %}"><i class="fas fa-2x fa-plus"></i></a>
    </div>

    <div class="container">
          <div class="row">
            {% for product in products %}
            <div class="col-md-3 my-5">
              <div class="card" style="width: 18rem;">
                  <a href="{% url 'product' product_id=product.id %}">
                      <img class="card-img-top" src="{{ product.avatar.url }}" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">R${{ product.price }}</p>
                      </div>
                  </a>
                </div>
            </div>
            {% endfor %}
          </div>
    </div>
{% endblock %}