{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    Produto
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'product' product_id=product.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {% render_field form.avatar.label_tag %}
            {% render_field form.avatar class+="form-control" %}
        </div>
        <div class="form-group">
            {% render_field form.name.label_tag %}
            {% render_field form.name class+="form-control" value=form.name.value %}
        </div>
         <div class="form-group">
             {% render_field form.description.label_tag %}
             {% if form.description.value == None %}
                {% render_field form.description class+="form-control" value="" %}
             {% else %}
                {% render_field form.description class+="form-control" value=form.description.value %}
             {% endif %}
        </div>
        <div class="form-group">
             {% render_field form.category.label_tag %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">+</button>
            {% render_field form.category class+="form-control" value=form.description.value id="category-trigger" %}
        </div>
        {% render_field formset.management_form %}
        <div id="options" class="form-group">
            <label>Options: </label>
              {% for form in formset %}
              {% render_field form.id %}
              <div class="form-row form-formset-row">
                <div class="col">
                  {% render_field form.type.label_tag %}
                  {% if form.type.value is not None %}
                    {% render_field form.type class+="form-control" value=form.type.value %}
                  {% else %}
                    {% render_field form.type class+="form-control" %}
                  {% endif %}
                </div>
                <div class="col">
                  {% render_field form.value.label_tag %}
                  {% if for.value.value is not None %}
                    {% render_field form.value class+="form-control" value=form.value.value %}
                  {% else %}
                    {% render_field form.value class+="form-control" value=form.value.value %}
                  {% endif %}
                </div>
                {% render_field form.DELETE %}
              </div>
              {% endfor %}
            {% comment %} {{ formset }} {% endcomment %}
            {% comment %} {{ formset.non_form_errors }} {% endcomment %}
            {% comment %} <button type="button" class="btn btn-primary" onclick="add_option();">+</button>
                {% for key, value in json_data.items %}
                    <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control" name="options_name" value="{{ key }}" placeholder="First name">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="options_price" value="{{ value }}" placeholder="Last name">
                        </div>
                    </div>
                {% endfor %}
              {% endcomment %}
        </div>
         <div class="form-group">
            {% render_field form.status.label_tag %}
            {% if form.status.value == None %}
                {% render_field form.status class+="form-control" value="" %}
             {% else %}
                {% render_field form.status class+="form-control" value=form.status.value %}
             {% endif %}
        </div>
         <div class="form-group">
            {% render_field form.price.label_tag %}
            {% if form.price.value == None %}
                {% render_field form.price class+="form-control" value="" %}
             {% else %}
                {% render_field form.price class+="form-control" value=form.price.value %}
             {% endif %}
        </div>
        <div class="form-group form-check">
            {% render_field form.featured.label_tag %}
            {% render_field form.featured %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Deletar</button>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deletar Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Deseja deletar este item?
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" href="{% url 'delete_product' product_id=product.id %}">Deletar</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Another modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form id="category_form" method="post" action="{% url 'add_category' store_id=store.id %}">
                {% csrf_token %}
              <div class="form-group">
                {% render_field category_form.category.label_tag %}
                {% render_field category_form.category class+="form-control" %}
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" onclick="category_form_submit();">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/javascript.js' %}"></script>
    <script type="text/javascript">
      $(function() {
          $('.form-formset-row').formset({
            deleteText: '<i class="fas fa-2x fa-trash-alt"></i>',
            //deleteText: '',
            addText: '<i class="fas fa-2x fa-plus-square"></i>',
            addCssClass: 'form-form-form',
            removed: function(row) {
              for(var i=0; i<row.length;i++) {
                var temp = $(row[i]).find('input')[2];
                $(temp).val("off");
                console.log($(temp).val());
              }
            }
          });
      })
    </script>
{% endblock %}