{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#  Bootstrap  #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <title>Register</title>
</head>
<body>

    <div class="wrapper">
        <div class="mid-container">
            <h3 class="login-header">Novo Usuário</h3>
            <div class="login-form">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {% render_field form.email.label %}
                        {% render_field form.email class+="form-control" placeholder="Email" %}
{#                        {{ form.email.errors }}#}
                    </div>
                    <div class="form-group">
                        {% render_field form.store_name.label_tag %}
                        {% render_field form.store_name class+="form-control" placeholder="Loja" %}
{#                        {{ form.last_name.errors }}#}
                    </div>
                    <div class="form-group">
                        {% render_field form.password1.label_tag %}
                        {% render_field form.password1 class+="form-control" placeholder="Senha" type="password" %}
{#                        {{ form.password1.errors }}#}
                    </div>
                    <div class="form-group">
                        {% render_field form.password2.label_tag %}
                        {% render_field form.password2 class+="form-control" placeholder="Confirmar Senha" type="password" %}
{#                        {{ form.password2.errors }}#}
                    </div>
                  <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</html>