]{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-12">
                <div class="settings-header mx-auto">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-3">
                          <img class="img-fluid rounded-circle" src="{{ store.avatar.url }}">
                        </div>
                          <div class="col-md-8">
                            <h3>{{ store.name }}</h3>
                              {% if store.description is not None %}
                                <p>{{ store.description }}</p>
                              {% endif %}
                              <p>{{ user.email }}</p>
                              <a class="btn btn-primary" href="{% url 'edit_store_profile' %}">Editar Perfil</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}